pre {
  padding: 20px;
  border-radius: 5px;
  overflow-x: auto;
  background-color: #2f2625;
}

code {
  font-family: "Courier New", Courier, monospace;
}

.comment {
  color: #6a737d;
  font-style: italic;
}

.variable {
  color: #0086b3;
}

.boolean {
  color: #005c5f;
}

.function {
  color: #d73a49;
}

.array {
  color: #008000;
}

.value,
.keyword {
  color: #dad085;
}

.code {
  display: flex;
  flex-direction: row;
}
