@import url(./header.css);
@import url(./css-reset.css);
@import url("/font-awesome-4.6.3/css/font-awesome.min.css");
@import url(./feature-one.css);
@import url(./feature-two.css);

h1 {
  font-size: 50px;
  text-align: center;
}

.menu {
  background-color: #936748;
}

.page-design {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
}
